<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<% if @animal.image.attached? %>
  <%= image_tag(@animal.image) %>
<% end %>

<p>
  <strong>Bio:</strong>
  <%= @animal.bio %>
</p>

<p>
  <strong>Zoo:</strong>
  <%= @zoo.name %>
</p>

<%= link_to 'Edit', edit_zoo_animal_path(@zoo, @animal) %> |
<%= link_to 'Back', zoo_animals_path(@zoo) %>
