<!DOCTYPE html>
<html>
  <head>
    <title>SimpleZooApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Sign In', user_session_path, class: "link hover-blue dib pa2 f6 f5-l" unless current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, class: "link hover-blue dib pa2 f6 f5-l", method: :delete if current_user %>
    </nav>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
